<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Authors一覧', authors_path %></li>
      <li><%= link_to 'Books一覧',   books_path %></li>
      <li><%= link_to 'Reviews一覧',  reviews_path %></li>
    </ul>
  
    <%= yield %>
  </body>
</html>
